.c-dictionary-letter-title {
    text-transform: capitalize;
  }
  
  .c-dictionary-letter-item-title:hover {
    color: $color-palette-green-900;
  }
  
  .c-dictionary-letter-list {
    margin-top: 12px;
    list-style: none;
    padding: 0;
  
    > li {
      border-bottom: 1px dotted #ccc;
      padding: 8px 0;
    }
  }