.c-gallery {
  padding: 0;
  width: 100%;
  position: relative;
}

.c-gallery__inner {
  display: grid;
  position: relative;

  // By using the same grid area for both, they are stacked on top of each other
  grid-area: 1 / 1 / auto / auto;

  max-width: 650px;
  min-height: 260px;

  @include breakpoint(sm) {
    min-height: 420px;
  }
}

.c-gallery__chevron {
  position: absolute;
  top: 47%;

  &:after {
    content: '';
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 15px;
  }

  width: 15px;
  height: 100%;

  cursor: pointer;
  transition: opacity 200ms;

  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &--next {
    &:after {
      transform: rotate(-45deg);
    }

    right: 45px;

    @include breakpoint(sm) {
      right: 30px;
      width: 30px;
    }

    @include breakpoint(md) {
      right: 50px;
      width: 45px;
    }
  }

  &--prev {
    &:after {
      transform: rotate(135deg);
    }

    left: 15px;

    @include breakpoint(sm) {
      left: 30px;
      width: 30px;
    }

    @include breakpoint(md) {
      left: 50px;
      width: 45px;
    }
  }
}
