.c-title-level-1 {
  font-family: Roboto Condensed;
  font-size: 4.8rem;
  font-weight: bold;
}
.c-title-level-2 {
  font-family: Roboto Condensed;
  font-size: 4rem;
  font-weight: bold;
}
.c-title-level-3 {
  font-family: Roboto Condensed;
  font-size: 3.6rem;
  font-weight: bold;
}
.c-title-level-4 {
  font-family: Roboto Condensed;
  font-size: 3rem;
  font-weight: bold;
}
.c-title-level-5 {
  font-family: Roboto Condensed;
  font-size: 2.4rem;
  font-weight: bold;
}
.c-title-level-6 {
  font-family: Roboto Condensed;
  font-size: 2rem;
  font-weight: bold;
}

.c-title {
  font-family: Roboto Condensed;
  font-size: 4rem;
  font-weight: bold;

  @include breakpoint(lg) {
    font-size: 4.8rem;
  }

  &--white {
    color: $color-palette-white;
  }
}

.c-content-title {
  font-family: Roboto Condensed;
  font-size: 3.6rem;
  font-weight: bold;

  @include breakpoint(md) {
    font-size: 4rem;
  }
}
