.c-navigation__hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;

  &:hover [class*="-bun"] {
    background: #333;
  }
}
.c-navigation__hamburger-top-bun, 
.c-navigation__hamburger-bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.c-navigation__hamburger-top-bun {
  transform: translateY(-5px);
}

.c-navigation__hamburger-bottom-bun {
  transform: translateY(3px);
}

.c-navigation__hamburger--open .c-navigation__hamburger-top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.c-navigation__hamburger--open .c-navigation__hamburger-bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}