// Mailchim Form
// It is a quickfix because it is not possible to add custom classes to elements\
#reactHubspotForm0 {
  .submitted-message {
    color: $color-palette-white;
    margin: 30px 0;
    font-size: 18px;
    font-weight: bold;
  }
}
.c-form-wrapper {
  margin-top: 24px;
  position: relative; 
  width: 100%;

  @include breakpoint(sm) {
    max-width: 640px;
  }
  
  .no-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }
  
  .hs-error-msgs label {
    display: block !important;
    background-color: $color-palette-green-800;
    color: $color-palette-white !important;
    font-size: 14px;    
    padding: 6px;
  }

  .hs_recaptcha {
    margin: 12px 0;
  }

  .msg-alert {
    margin-top: 12px;
    position: absolute;
    top: 100%;
    font-weight: bold;

    p {
      padding: 12px 24px;
      @apply rounded;
      background-color: $color-palette-green-800;
      color: $color-palette-white !important;
    }
  }

  .hs_email label {
    display: none;
  }
  .legal-consent-container {
    font-size: 12px;
    margin: 12px 0 0 0;
    color: $color-palette-white;
  }
  input {
    padding: 16px 24px;
    @apply rounded border-2 border-white bg-transparent w-full text-white;

    &::-webkit-input-placeholder {
      color: $color-brand-primary-light;
    }

    //.index-newsletter__input::-moz-placeholder
    &::-moz-placeholder {
      color: $color-brand-primary-light;
    }

    //.index-newsletter__input:-ms-input-placeholder
    &:-ms-input-placeholder {
      color: $color-brand-primary-light;
    }
  }
}