@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base leading-normal font-body text-gray-900;
  }

  body {
    @apply overflow-x-hidden
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  .prose a {
    text-decoration: none !important;
    @apply no-underline border-b-2 border-secondary-900 hover:border-opacity-0 hover:text-secondary-700;
  }
}
