// Object to put an asset next to body content without shrinking the asset
.o-block-short {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__asset {
    flex: 0 1 auto;
  }
  &__body {
    flex: 1;
    margin-left: 24px;
  }
}