// Social
$linkedin: #2d8cff;

// Unique
$color-palette-white: #fff;
$color-palette-black: #000;

// Gray
$color-palette-gray-900: #1A202C;
$color-palette-gray-800: #2D3748;
$color-palette-gray-700: #4A5568;
$color-palette-gray-600: #718096;
$color-palette-gray-500: #A0AEC0;
$color-palette-gray-400: #CBD5E0;
$color-palette-gray-300: #E2E8F0;
$color-palette-gray-200: #EDF2F7;
$color-palette-gray-100: #F7FAFC;

// Orange
$color-palette-orange-900: #F48D2B;
$color-palette-orange-800: #F6A455;
$color-palette-orange-700: #F8B06B;
$color-palette-orange-600: #F8BB80;
$color-palette-orange-500: #F9C594;
$color-palette-orange-400: #FBD1AA;
$color-palette-orange-300: #FCDDC0;
$color-palette-orange-200: #FDE8D5;
$color-palette-orange-100: #FEF4EA;

// Green
$color-palette-green-900: #2A6049;
$color-palette-green-800: #487662;
$color-palette-green-700: #619174;
$color-palette-green-600: #91B29E;
$color-palette-green-500: #AFC7B9;
$color-palette-green-400: #C0D3C7;
$color-palette-green-300: #D0DED6;
$color-palette-green-200: #DFE9E3;
$color-palette-green-100: #F0F4F2;


// Brand Colors
$color-brand-primary-light: $color-palette-green-100;
$color-brand-primary-base: $color-palette-green-500;
$color-brand-primary-dark: $color-palette-green-900;

$color-brand-secondary-light: $color-palette-orange-100;
$color-brand-secondary-base: $color-palette-orange-500;
$color-brand-secondary-dark: $color-palette-orange-900;